# For efficiency benchmark
codecarbon
sacrebleu>=1.5.0
sentencepiece
pyyaml>=5.4.1
torch
torchmetrics==0.11.0
transformers
more_itertools
spacy>=3.0.0
wget
datasets>=2.1.0
accelerate
bettermap
base58==2.1.1
click_help_colors==0.9.1
sqlitedict==2.1.0
pyserial==3.5

# For the P3 datasets, which we get from huggingface datasets
protobuf<=3.20

# For lm-eval
scikit-learn>=0.24.1   # Eleuther uses this for metrics. Can we replace it with torchmetrics?
pycountry>=20.7.3
rouge-score>=0.0.4  # Can we replace this with torchmetrics?
# The Eleuther test harness depends on these even at runtime, but does not declare them.
mypy_extensions
pytest

# gantry dependencies
beaker-py>=1.14.0,<2.0
GitPython>=3.0,<4.0
rich
click
click-help-colors
petname>=2.6,<3.0
requests
packaging

mypy

# Needed for packaging and uploading to PyPi
twine>=1.11.0
setuptools
wheel

# For parsing and comparing version numbers.
packaging

# running tests
pytest>=6.2.5
pytest-sphinx
pytest-xdist
pytest-forked
flaky

# Building docs
Sphinx==5.3.0
# Sphinx theme: https://sphinx-themes.org/sample-sites/furo/
furo==2022.12.7
# Lets Sphinx parse markdown files in addition to rst.
myst-parser==0.18.1
# Adds a copy button to code examples in the docs.
sphinx-copybutton==0.5.1
# Live rebuilding and reloading of docs for developing locally.
sphinx-autobuild==2021.3.14
# Automatically adds types to docs
sphinx-autodoc-typehints
